
// --------- Food Delivery - Colors --------- //

	//	Basic Colors
	$_black		: #333333	;
	$_red		: #FF5756	;
	$_purple	: #78147E	;
	$_purple2	: #432D6F	;
	$_purple3	: #7C4DFF	;
	$_blue		: #0582F0	;
	$_cyan		: #00FFFF	;
	$_green		: #4AAF05	;
	$_yellow	: #FAFA00	;
	$_white		: #FAFAFA	;


	//	Dark Colorsd
	$_dark01	: #555555	;
	$_dark02	: #777777	;
	$_dark03	: #999999	;
	$_dark04	: #AAAAAA	;


	//	Light Colors
	$_light01	: #EEEEEE	;
	$_light02 	: #DDDDDD	;
	$_light03 	: #CCCCCC	;
	$_light04	: #BBBBBB	;

	// Dark Theme
	$_txt01	: #FFFFFF;
	$_txt02	: #EEEEEE;

	$_bg01	: #01011E;
	$_bg02	: #040425;
	$_bg03	: #050529;

	$_dark	: #01011E;
	$_light	: #FFFFFF;

	$_primary: #010D79;

	$_theme01: #025897;
	$_theme02: #116EC5;
	$_theme03: #088CD6;

	$_backgnd01	: linear-gradient(to bottom	, $_theme01,$_theme02,$_theme03);
	$_backgnd02	: linear-gradient(to top	, $_theme01,$_theme02,$_theme03);

	$_primary: $_backgnd01;

// --------- Food Delivery - Colors --------- //